<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons.CFBundlePrimayIcon</key>
	<string>App Icon</string>
	<key>TVTopShelfImage.TVTopShelfPrimaryImageWide</key>
	<string>Top Shelf Image Wide</string>
</dict>
</plist>
