<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454317327-d8qubn3qber7rcgi6bh6vqitnvtg7qpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454317327-d8qubn3qber7rcgi6bh6vqitnvtg7qpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCNmkz8nbhQA9mYJtJXDn0_z7KEplsZ980</string>
	<key>GCM_SENDER_ID</key>
	<string>454317327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickmolargik.scanner</string>
	<key>PROJECT_ID</key>
	<string>scannertest-ad460</string>
	<key>STORAGE_BUCKET</key>
	<string>scannertest-ad460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454317327:ios:88f10a854ee7435fa91a7a</string>
</dict>
</plist>