<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426400974624-f8c80ueasgdr5gorakrvvev4r52odiqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426400974624-f8c80ueasgdr5gorakrvvev4r52odiqa</string>
	<key>API_KEY</key>
	<string>AIzaSyDir8vmcbk9hfM4FBNqwk8g9vMSr4BbHDU</string>
	<key>GCM_SENDER_ID</key>
	<string>426400974624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kylekincer.Scanner</string>
	<key>PROJECT_ID</key>
	<string>fwpd-api</string>
	<key>STORAGE_BUCKET</key>
	<string>fwpd-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426400974624:ios:2e41466ac0d7b80b357945</string>
</dict>
</plist>